@import url("https://fonts.googleapis.com/css?family=Acme|Lobster|Patua+One|Rubik|Sniglet");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", cursive;
}

.App {
  width: 100%;
  height: 100vh;
  border: 5px solid rgba(25, 255, 214);
  background-color: rgb(22, 23, 46);
}

.App-header {
  background-color: rgba(25, 255, 214);
  text-align: center;
  height: 10%;
  color: rgba(22, 23, 46);
}

form {
  text-align: center;
}

input:focus {
  outline: 0;
}

label,
input {
  display: block;
  margin: 2%;
  font-size: 19px;
  color: rgb(221, 222, 226);
}

.value-input {
  padding: 10px 3px;
  font-size: 20px;
  width: 80%;
  display: inline-block;
  color: rgb(154, 156, 167);
  border-radius: 5px;
  border: none;
  background-color: rgb(32, 33, 55);
  font-weight: bold;
}

input[type="submit"],
input[type="reset"] {
  display: block;
  padding: 10px 20px;
  border-radius: 15px;
  background: rgba(25, 255, 214);
  color: rgba(22, 23, 46);
  font-size: 25px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

input[type="reset"] {
  margin-top: 20px;
}

.btn-wrapper {
  display: inline-block;
  text-align: center;
}
